<fieldset>
<legend>Category List</legend>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            Catergory Name
        </th>
        <th>
            Display Order
        </th>
    </tr>

</table>
</fieldset>